
{% load static %}
<!DOCTYPE html><html class=''>
<head>
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300' rel='stylesheet' type='text/css'>
<script src="https://use.typekit.net/hoy3lrg.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css'><link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css'>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel='stylesheet' href="{% static 'css/instagram.css' %}">


</head>
<body id="chat">


<div id="frame">
	<div id="sidepanel">
		<div id="profile">
			<div class="wrap">
			 {% if user.profile.profile_image %}
           <img id="profile-img" src="{{ user.profile.profile_image.url }}" class="online" alt="" />
             {% else %}
            <img class="userImage" src="{% static "img/icon.jpeg" %}"/>
            {% endif %}
				
				<p>{{ user.username }}</p>
				<div id="status-options">
					<ul>
						<li id="status-online" class="active"><span class="status-circle"></span> <p>Online</p></li>
						<li id="status-away"><span class="status-circle"></span> <p>Away</p></li>
						<li id="status-busy"><span class="status-circle"></span> <p>Busy</p></li>
						<li id="status-offline"><span class="status-circle"></span> <p>Offline</p></li>
					</ul>
				</div>
			
			</div>
		</div>
		<div id="search">
			<label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
			<input type="text" placeholder="Search contacts..." />
		</div>
		<div id="contacts">
			<ul>
				<li class="contact">
					<div class="wrap">
						<span class="contact-status online"></span>
						<img src="http://emilcarlsson.se/assets/louislitt.png" alt="" />
						<div class="meta">
							<p class="name">Louis Litt</p>
							<p class="preview">You just got LITT up, Mike.</p>
						</div>
					</div>
				</li>
				<li class="contact active">
					<div class="wrap">
						<span class="contact-status busy"></span>
						<img src="http://emilcarlsson.se/assets/harveyspecter.png" alt="" />
						<div class="meta">
							<p class="name">Harvey Specter</p>
							<p class="preview">Wrong. You take the gun, or you pull out a bigger one. Or, you call their bluff. Or, you do any one of a hundred and forty six other things.</p>
						</div>
					</div>
				</li>
				
			</ul>
		</div>
		<div id="bottom-bar">
			<button id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
			<button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
		</div>
	</div>
	<div class="content">
		<div class="messages">
			<ul id="chat-log">
				
		
			</ul>
		</div>
		<div class="message-input">
			<div class="wrap">
			<input id="chat-message-input" type="text" placeholder="Write your message..." />
			<i class="fa fa-paperclip attachment" aria-hidden="true"></i>
			<button id="chat-message-submit" class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
			</div>
		</div>
	</div>
</div>

<script src="{% static 'reconnecting-websocket.js' %}"> </script>
<script src="{% static 'main.js' %}"> </script>

<script>
    var roomName = {{ room_name_json }};
	var username = {{ username }}

//creates the url on which to connect
    var chatSocket = new ReconnectingWebSocket(
        'ws://' + window.location.host +
        '/ws/chat/' + roomName + '/');

	chatSocket.onopen = function(e){
		fetchMessages();
	} 


    chatSocket.onmessage = function(e) {
        var data = JSON.parse(e.data);
		if (data['command']==='messages'){
			for(let i=0; i<data['messages'].lenght; i++){
				createMessage(data['messages'][i])
			}
		} else if (data['command'] === 'new_message'){       
			createMessage(data['message'])
		}
      
    };

    chatSocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');
    };

    
    document.querySelector('#chat-message-input').onkeyup = function(e) {
        if (e.keyCode === 13) {  // enter, return
            document.querySelector('#chat-message-submit').click();
        }
    };
	

    document.querySelector('#chat-message-submit').onclick = function(e) {
        var messageInputDom = document.querySelector('#chat-message-input');
        var message = messageInputDom.value;
        chatSocket.send(JSON.stringify({
			'command': 'new_message',
            'message': message,
            'from': username,

        }));

        messageInputDom.value = '';
    };
	function fetchMessages() {
		chatSocket.send(JSON.stringify({'command': 'fetch_messages'}))
	} 
	function createMessage(data){
		var author = data['author'];
		var msgListTag = document.createElement('li');
		var imgTag = document.createElement('img');
		var pTag = document.createElement('p')
		pTag.textContent = data.content;
		
		if (author === username) {
			imgTag.src = "{{user.profile.profile_image.url}}"
		} else{
			imgTag.src = data.image
		}
		if (author === username) {
			msgListTag.className = 'sent';
		} else {
			msgListTag.className = 'replies';
		}
		msgListTag.appendChild(imgTag);
		msgListTag.appendChild(pTag);
        document.querySelector('#chat-log').appendChild(msgListTag);
	}
</script>
</body>
</html>