{% load static %}

<head>
    <title>Instagram</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/instagram.css' %}" />
</head>

<body>
    <div class="page-header">
        <h1><a href="{% url 'usersapp:login' %}">Instagram</a></h1>
        
         
    </div>
    <div class="content container">
        <div class="row">
        <div class="centeredForm">
            
                {% block content %} 
                {% endblock %}
           </div>
        </div>
    </div>
</body>