{% extends "usersapp/base.html" %} 
{% load static %}

{% block content %}
<h1>Login</h1>
{% load crispy_forms_tags %}
<form action="" method="POST">
{% csrf_token %}
{% if error %} <p class="error">oops</p> 
{% endif %}
{{ form|crispy }}
<!-- <input type="hidden" name="next" value="{{ next }}"/> -->
<input type="submit" name="submit" class="button" value="Log in"/>
<div class="centered"><a href="{% url 'usersapp:password_reset' %}">Reset password</a></div>
<div class="centered"><a href="{% url 'usersapp:signup' %}">Dont have a user?</a></div>
</form>
{% endblock %}
