

{% block content %}

<div class="container">
	<div class="d-flex flex-column">
		<p class="m-auto">Your password has been set. You may go ahead and <a href="/">log in</a> now.</p>
	</div>
</div>

{% endblock %}