

<h1>To initiate the password reset process for your email {{email }},
click the link below:</h1>

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

<h1>If clicking the link above doesn't work, please copy and paste the URL in a new browser</h1>
window instead.

Sincerely,
The Unicorn Team
