{% block content %}


{% load crispy_forms_tags %}
<form method="POST">
    {% csrf_token %}
    <!-- this modifies form to lok nicer -->
    {{form| crispy}}
    <button type="submit">Update password</button>

    {% for field in form %}
      {% for error in field.errors %}
        <p style="color: red">{{ error }}</p>
      {% endfor %}
    {% endfor %}

</form>



{% endblock %}