{% extends "usersapp/base.html" %} 
{% load static %}

{% block content %}
<div class="container">
	<div class="d-flex flex-column">
    <h1> Hooray! </h1>
		<p class="m-auto">You have successfully completed your signup. You may go ahead and <a href="/">log in</a> now.</p>
	</div>
</div>
{% endblock %}