{% extends "usersapp/base.html" %} 
{% load static %}

{% block content %}
    <h1>Create an account</h1>

    {% load crispy_forms_tags %}
    <form method="POST">
        {% csrf_token %}
        <!-- this modifies form to lok nicer -->
        {{form| crispy}}
        <button class="button" type="submit">Sign up</button>
    </form>

{% endblock %}