{% load static %}

<head>
    <title>Instagram</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/instagram.css' %}" />
</head>

<body>
    <div class="page-header">
        <h1><a href="{% url 'instagramapp:post_list' %}">Instagram</a></h1>
        <div class="top-menu-rigth">
          {% if user.is_authenticated %}
            <a href="{% url 'instagramapp:post_new' %}" class="top-menu"><i class="glyphicon glyphicon-plus"></i></a> {% endif %}
          
              <a href="{% url 'instagramapp:user_profile' %}" class="top-menu"> 
                <i class="glyphicon glyphicon-user"></i>
            </a>
            <a href="{% url 'chatapp:chat' %}" class="top-menu"><i class="glyphicon glyphicon-comment"></i></a> 
           
            <a class="top-menu" href="{% url 'usersapp:password_change' %}"><h2>Change password</h2></a> 
            <a class="top-menu" href="{% url 'usersapp:logout' %}"><h2>Log out</h2></a> 
            
        </div>
    </div>
    <div class="content container">
        <div class="row">
            
                {% block content %} 
                {% endblock %}
           
        </div>
    </div>
</body>

