{% extends 'instagramapp/base.html' %} 
{% load static %}

{% block content%}
<div class="centeredForm">
<h2>Edit profile</h2>
{% load crispy_forms_tags %}
  <form method="post" class="createPostForm" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
        {{ form| crispy }}
        {{ profile_form| crispy }}
       
        </table>
         {% if user.profile.profile_image %}
             <img id="output"  class="userImage editProfile" src="{{ user.profile.profile_image.url }}" />
              <img id="output"  class="userImage editProfile"  />
             {% else %}
             <img id="output"  class="userImage editProfile"  /> 
             {% endif %}
            
           
        
         <button type="submit" class="button"> Save </button>
    </form>

</div>
 <script> 
const input = document.getElementById("id_profile_image")
input.addEventListener("change", function(event) {
     var file = event.target.files[0]           
    var reader = new FileReader();
    reader.onload = function(){
      var dataURL = reader.result;
      var output = document.getElementById('output');
      output.src = dataURL;
    };
    reader.readAsDataURL(input.files[0]);
}) </script> 
{% endblock%}