{% extends "instagramapp/base.html" %} 
{% load static %}


{% block content %}
<div class="tab">
  <button class="tablinks" onclick="openTab(event, 'Following')">Folowing</button>
  <button class="tablinks" onclick="openTab(event, 'Followers')">Followers</button>
    <button class="tablinks active"  onclick="openTab(event, 'Search')">Search</button>
</div>

 <div id="Following" class="tabcontent">

    {% for followingUser in followingUsers%}
    <div class='postHeader' style="justify-content: space-between">
    <div class='postHeader'>
        {% if followingUser.profile.profile_image %}
            <img class="userImage" src="{{ followingUser.profile.profile_image.url }}"/>
             {% else %}
            <img class="userImage" src="{% static "img/icon.jpeg" %}"/>
            {% endif %}
       <h1>{{ followingUser}}</h1>
        </div>
  <a href="{% url 'instagramapp:connect' operation='remove' pk=followingUser.pk %}"> <button class="button"> Unfollow</button></a>
    
    
        </div>
    {% endfor %}
    </div>
  
   
    <div id="Followers" class="tabcontent">
   
     {% for followerUser in followerUsers%}
    <div class='postHeader' style="justify-content: space-between">
    <div class='postHeader'>
        {% if followerUser.profile.profile_image %}
            <img class="userImage" src="{{ followerUser.profile.profile_image.url }}"/>
             {% else %}
            <img class="userImage" src="{% static "img/icon.jpeg" %}"/>
            {% endif %}
       <h1>{{ followerUser }}</h1>
       </div>
       {% if followerUsernot in followingUsers %}
  <a href="{% url 'instagramapp:connect' operation='add' pk=followerUser.pk %}"> <button class="button"> Follow</button></a>
       {% else %}
        <a href="{% url 'instagramapp:connect' operation='remove' pk=followerUser.pk %}"> <button class="button"> Unfollow</button></a>
       {% endif %}
        </div>
    {% endfor %} 
    </div>

     <div id="Search" class="tabcontent">
     <form method="GET" action="">
     <input type="text" placeholder="Search user" name="q" value="{{ request.GET.q }}" />
      <button type="sybmit" class="button"> Search</button>
      </form>
    {% for instagramUser in users %}
    <div class='postHeader' style="justify-content: space-between">
    <div class='postHeader'>
        {% if instagramUser.profile.profile_image %}
            <img class="userImage" src="{{ instagramUser.profile.profile_image.url }}"/>
             {% else %}
            <img class="userImage" src="{% static "img/icon.jpeg" %}"/>
            {% endif %}
       <h1>{{ instagramUser.username }}</h1>
       </div>


         {% if instagramUser in followingUsers %}
           <a href="{% url 'instagramapp:connect' operation='remove' pk=instagramUser.pk %}"> <button class="button"> Unfollow</button></a>
          
       {% else %}
        <a href="{% url 'instagramapp:connect' operation='add' pk=instagramUser.pk %}"> <button class="button"> Follow</button></a>
          
       {% endif %} 

     </div>   
    {% endfor %}
     
   
    </div>
    <script>
function openTab(evt, tabName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabcontent");
  defaultActive = document.getElementById("activeContent")
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";}
  
  tablinks = document.getElementsByClassName("tablinks");

  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(tabName).style.display = "block";
  evt.currentTarget.className += "active";
}
</script>
{% endblock %}
