{% extends "instagramapp/base.html" %} 
{% load static %}


{% block content %}
    {% for post in posts %}
<div class="col-md-8">
         <div class="post">
         <div class="postHeaderContainer">
          
            <div class='postHeader'>
            {% if post.user.profile.profile_image %}
            <img class="userImage" src="{{ post.user.profile.profile_image.url }}"/>
             {% else %}
            <img class="userImage" src="{% static "img/icon.jpeg" %}"/>
            {% endif %}
             <h2>
            {{ post.user }}
            </h2>
             </div> 
            
             <div class="date">
            {{ post.published_date }}
            </div>
             </div>     
            {% if post.image %}
            <div>
            <a href="{% url 'instagramapp:post_detail' pk=post.pk  %}">
            <img class="image" src="{{ post.image.url }}" alt="img" > 
            </a>
            </div>
            {% endif %}
            <div>
              <form action="{% url 'instagramapp:like_post'%}" class="createPostForm" method="POST" > 
             {% csrf_token %} 
             
           
             {% if post.is_liked %}
            
             <button type="submit" name="post_pk" value="{{ post.pk }}" class="btn"> <span style="font-size: 2em; color: red" class="glyphicon glyphicon-heart"></span></button>
             {% else %}
              <button type="submit" name="post_pk" value="{{ post.pk }}" class="btn"> <span style="font-size: 2em;" class="glyphicon glyphicon-heart"></span></button>
              {% endif %}
              {{ post.total_likes }} Like{{post.total_likes|pluralize}} 
           <span class="post-title">{{ post.title | linebreaksbr }}</span>
            </form> 
            </div>
        </div>
        </div>
    {% endfor %} 
{% endblock %}