{% extends 'instagramapp/base.html' %} 
{% block content%}
<div class="centeredForm">
<h2>New post</h2>
<form method="POST"  class="createPostForm" enctype='multipart/form-data'>
    {% csrf_token %} {{ form.as_p }}
    <img id="output" width="400px"/>
    <button type="submit" class="button"> Save </button>
</form>
</div>
<script> 
const input = document.getElementById("id_image")
input.addEventListener("change", function(event) {
  
     var file = event.target.files[0]           
       var reader = new FileReader();
    reader.onload = function(){
      var dataURL = reader.result;
      var output = document.getElementById('output');
      output.src = dataURL;
    };
    reader.readAsDataURL(input.files[0]);
}) </script>
{% endblock%}