{% extends "instagramapp/base.html" %} 
 {% load static %}
{% block content %}
<div class="post">
<div class="postHeaderContainer">
  <div class='postHeader'>
            {% if post.user.profile.profile_image %}
            <img class="userImage" src="{{ post.user.profile.profile_image.url }}"/>
             {% else %}
            <img class="userImage" src="{% static "img/icon.jpeg" %}"/>
            {% endif %}
             <h2>
            {{ post.user }}
            </h2>
             </div> 
             <div class="date">
            {{ post.published_date }}
            </div>
             </div>  
             
     {% if post.image %}
            <img src="{{ post.image.url }}" alt="img" class="image"> 
            {% endif %}
            <div class="postHeaderContainer ">
             <form action="{% url 'instagramapp:like_post'%}" method="POST" > 
             {% csrf_token %} 
             <div> {{ total_likes }} Like{{total_likes|pluralize}}</div>
             
             {% if is_liked %}
             <button type="submit" name="post_pk" value="{{ post.pk }}" class="btn"> <span style="font-size: 2em; color: red" class="glyphicon glyphicon-heart"></span></button>
             {% else %}
              <button type="submit" name="post_pk" value="{{ post.pk }}" class="btn"> <span style="font-size: 2em;" class="glyphicon glyphicon-heart"></span></button>
              {% endif %}
              <span class="post-title">{{ post.title | linebreaksbr }}</span>
              {% if post.user == user %}
            </form> 
                <form action="{% url 'instagramapp:delete_post'%}" method="POST" > 
             {% csrf_token %} 
             <button type="submit" name="post_pk" value="{{ post.pk }}" class="btn"> <span style="font-size: 2em" class="glyphicon glyphicon-trash"></span></button>
            </form> 
            {% endif %} 
            </div>
    </div>
</div>
{% endblock %}