 {% extends "instagramapp/base.html" %} 
 {% load static %}

        {% block content %} 

            <div class="userContainer"> 
            <div>
            <div class="profileInfoContainer">
                <div >
                {% if user.profile.profile_image %}
                <img class="userImage profile" src="{{ user.profile.profile_image.url }}"/>
                {% else %}
                <img class="userImage profile" src="{% static "img/icon.jpeg" %}"/>
                {% endif %} 
                </div>
                <div>
                <h3>{{user.username}}</h3>
                {{user.first_name}} {{user.last_name}}
                <p>{{user.profile.bio}}</p>
                </div>
            </div>
           <a href="{% url 'instagramapp:edit_profile' %}"> <button class="button">Edit profile</button></a>
            </div>
            <div class="profileRightContainer">
            <div class="statisticContainer"> <h3>posts</h3>  {{ num_post}} </div>
            <a href="{% url 'instagramapp:follow' %}"> <div class="statisticContainer"> <h3>followers</h3>  {{ num_followers}} </div> </a>
             <a href="{% url 'instagramapp:follow' %}"> <div class="statisticContainer"> <h3>following</h3>  {{ num_following}} </div> </a>
            </div>
            </div>
                <div class="profileImageContainer">
                {% for post in posts %}
      
                <div class="postProfile">
                
                    {% if post.image %}
                     <a href="{% url 'instagramapp:post_detail' pk=post.pk  %}">
                    <img src="{{ post.image.url }}" alt="img" > {% endif %}
                    </a>
                    <p>{{ post.text | linebreaksbr }}</p>
                </div>
               
                {% endfor %}
                  </div>
                 {% endblock %}
               