 {% extends "instagramapp/base.html" %} 
 {% load static %}

        {% block content %} 
        <div class="centeredForm">
        <h1> Poof! The post was deleted! </h1>
        <a href="{% url 'instagramapp:user_profile' %}"> Go back to profile >>> </a>
        </div>
        {% endblock%}
